{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Celestica SPC Control system </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <link href="{% static 'dist/css/dashboard.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <!--  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> -->
      <!--<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> -->
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SigmaFlex</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Tester(s) Validation <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="#">Production <span class="sr-only">(current)</span></a>
                <li><a href="unit_track/">Unit Tracking</a></li>
                <li><a href="Q/">Cp/Cpk</a></li>
            </li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h2 class="sub-header">Tester validation status update!</h2>
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                    <th>Tester Name</th>
			  <th>Description</th>
                    <th>Group</th>
                    <th>Schedule On</th>
                    <th>Last excecute</th>
                    <th>On Due?</th>
                    <th>SPC Control?</th>
                    <th>Last SPC Result</th>
                    <th>Action Pending</th>
                </tr>
              </thead>
              <tbody>

                {% if latest_tester_list %}
                    {% for question in latest_tester_list %}
                        <tr><td>{{ question.tester_name }}</td>
				<td>{{ question.description }}</td>
                        <td>{{ question.group }}</td>
                        <td>{{ question.schedule_on }}</td>
                        <td>{{ question.last_execute_date }}</td>

                        <td>{% if question.is_on_due %}
                            <span class="label label-success">On due.</span>
                        {% else %}
                            <span class="label label-warning">Over due!!</span>
                        {% endif %}</td>

                        <td>{% if question.control %}
                            <span class="label label-success">+</span>
                        {% else %}
                            <span class="label label-danger">-</span>
                        {% endif %}</td>

                        {% if question.last_perform_id %}
                        <td>
                            <a href="{% url 'view_perform_detail' question.last_perform_id 'VALIDATE' %}">
                            {% if question.is_spc_passed %}
                            <button type="button" class="btn btn-xs btn-success">Passed</button>
                        {% else %}
                            <button onclick="" type="button" class="btn btn-xs btn-danger">Failed</button>
                        {% endif %}</a></td>

                        <td>
                            <a href="{% url 'set_actions' question.last_perform_id %}">
                            {% if question.is_action_pending %}
                             <button onclick="" type="button" class="btn btn-xs btn-danger">Require</button>
                        {% endif %}</a></td>
                        {% endif %}

                        </tr>
                    {% endfor %}
                {% else %}
                    <p>No tester are available.</p>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script href="{% static 'dist/js/jquery.min.js' %}" ></script>
    <script href="{% static 'dist/js/bootstrap.min.js' %}" ></script>
  </body>
</html>
